<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
	  <th>自己</th>
	  <th><%= customer.introduction %></th>
  </tr>
</table>

<div>
  <% if current_customer == customer %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
     <% end %>
  <% end %>
</div>