<div class="row justify-content-center mb-4">
<%= image_tag customer.get_profile_image, size:'200x200' %>
</div>
<table class='table mx-auto'>
  <tr class="align-middle text-center">
	  <th><%= customer.name %></th>
  </tr>
  <tr class="align-middle text-center">
	  <th><%= customer.introduction %></th>
  </tr>
</table>

<div>
  <% if current_customer == customer %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
     <% end %>
  <% end %>
</div>