<div class="container">
  <div class="group-show card my-5">
    <div class="card-body">
      <h4 class="card-title">グループの概要</h4>
      <p class="card-text"><%= @group.introduction %></p>
    </div>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <h1 class="card-title mb-5">Chat Room</h1>
      <div id="messages" data-room_id="<%= @group.id %>">
        <%= render @messages %>
      </div>
      <form>
        <div class="form-group">
          <%= label_tag :content, '入力フォーム' %>
          <input type="text" class="form-control" data-behavior="room_speaker" placeholder="メッセージを入力してください">
        </div>
      </form>
    </div>
  </div>
</div>