<div class="group-show">
  <div class="show-group-chat-back">
    <span class="group-show-group-chat-back">
      <%= link_to groups_path do %>
                ＜
      <% end %>
    </span>
  </div>
  
  <h1>Chat room</h1>
  <div id='messages' data-room_id="<%= @group.id %>">
    <%= render @messages %>
  </div>

  <form>
    <%= label_tag :content, 'Say something:' %>
    <input type="text" data-behavior="room_speaker">
  </form>
</div>