<div class="container">
  <div class="row">
    <div class="col-md-11 offset-md-1 mt-5">
      <%= image_tag "about_image.jpg", size: '1000x600', class: "main-visual-image img-fluid" %>
      <div class="about-content text-center mt-5">
        <h4>BestBuyは、最近の買い物で満足度が高い商品情報を共有し合ったり、</h4>
        <h4>興味を持っている商品の評価を知ることができるコミュニティサイトです。</h4>
        <h4>実際に商品を利用している方に質問を気軽に投げかけたり、</h4>
        <h4>タイムリーな情報を得ることもできます。</h4>
        <h4>買い物をする際に「満足度」「ランキング」などを基準に調査することがありますが</h4>
        <h4>個人の好みやニーズに合わない場合もあり、しばしば失敗することがあります。</h4>
        <h4>そこで、本サイトでは、商品の利用者と直接コミュニケーションを取ることができ、質問や意見交換が可能です。</h4>
        <h4>多様な人々とつながることができるコミュニティを提供したいと考えています。</h4>
        <h4>当サイトがあなたのお役に立てれば、とても嬉しいです。</h4>
        <h4>皆さまのご参加をお待ちしております！</h4>
      </div>
    </div>
  </div>
</div>