@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


.alert {
  display: flex;
  align-items: center;
  background-color: rgba(102, 204, 0, 0.5);
  width: 700px;
  height: 55px; 
  margin: 20px 80px; 
}

.alert p {
  flex-grow: 1;
  font-size: 20px;
  color: #FFFFFF;
}

.alert .close {
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 10px;
}

#error_explanation {
  padding: 10px;
  color: #F00;
}

body {
  font-family: 'Noto Serif JP', sans-serif;
}

.table-cell-wrap {
    word-wrap: break-word;
    max-width: 20ch;
  }
  
  