@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

#notice {
  font-size: 27px; /* メッセージのフォントサイズ */
  background-color: #66CC00; /* メッセージの背景色 */
  color: #ffffff; /* メッセージのテキスト色 */
}

#error_explanation {
  padding: 10px;
  color: #F00;
}