<div class="container">
  <div class="group-show card my-5">
    <div class="card-body">
      <h4 class="card-title">グループの概要</h4>
      <p class="card-text"><%= @group.introduction %></p>
    </div>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <h1 class="card-title">Chat Room</h1>
      <% @messages.each do |message| %>
      <div class="mt-3" id="messages" data-room_id="<%= @group.id %>">
        <%= render 'public/messages/message', message: message %>
        <% end %>
      </div>
    </div>
  </div>
</div>